{% extends 'base.html' %}
{% block title %}Guest-booK{% endblock %}

{% block menu %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'entry_create' %}">Добавить новую запись</a>
    </li>
{% endblock %}

{% block content %}
    <div class="main_page">
        <h1 class="title">EntrieS</h1>
{#        <div class="search">#}
{#            <form class="form-inline my-2 my-lg-0" method="post">#}
{#                {% csrf_token %}#}
{#                <input class="form-control mr-sm-2" name="search_item" type="search" placeholder="Введите название..." aria-label="Search">#}
{#                <button class="btn btn-outline-primary my-2 my-sm-0 search-btn" type="submit">Поиск</button>#}
{#            </form>#}
{#        </div>#}
        {% for entries in entry %}
            <div class="card w-100">
                <div class="card-body">
                    <h5 class="card-title">Guest Book</h5>
                    <p class="card-text">{{ entries.author }} ({{ entries.email }})</p>
                    <p class="card-text">{{ entries.description }}</p>
                    <a href="{% url 'entry_view' entries.pk %}" class="btn btn-primary">Подробнее</a>
                    <a href="{% url 'entry_update' entries.pk %}" class="btn btn-primary">Изменить</a>
                    <a href="{% url 'entry_delete' entries.pk %}" class="btn btn-primary">Удалить</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="{% url 'entry_create' %}" class="btn btn-primary btn-lg btn-block">Добавить товар</a>
{% endblock %}
